{% load i18n %}

<tabset>
	<tab heading="{% trans 'Information' %}">{% include 'angular/profile/information.html' with name='profile_informations' %}</tab>
	<tab heading="{% trans 'Journeys'    %}">{% include 'angular/profile/journeys.html'    with name='profile_journeys'     %}</tab>
	<tab heading="{% trans 'Your shares' %}">{% include 'angular/profile/shared.html'      with name='profile_shared'       %}</tab>
</tabset>
