{% load i18n %}

<div class="col-lg-8 col-lg-offset-2">
	<h2>{% trans 'Share your journey' %}</h2>
	<p>{% trans 'Start today by signing up and discover the available jouneys that may help reducing your expenses and carbon footprint !' %}</p>
	<a href="{% url 'login' %}" class="btn btn-default btn-lg">{% trans 'Visit Login/Sign up Page' %}</a>
</div>

