{% load i18n %}

<script id="journeyTemplate" type="text/x-jquery-tmpl">
	<tr>
		<td>${departure_date}</td>
		<td>${arrival_date}</td>
		<td>${price} €</td>
		<td>${driver_first_name} ${driver_last_name}</td>
		<td>${available_places}/${total_places}</td>
		<td>
			<button type="submit" class="btn btn-small reservation_btn" value="${id}" onclick="join_journey(this)">{% trans 'Reserve' %}</button>
		</td>
	</tr>
</script>