{% load i18n %}

<script id="profileTemplate" type="text/x-jquery-tmpl">
	<tr><td>{% trans 'Username' %}</td>  <td>${username}</td>           </tr>
	<tr><td>{% trans 'First name' %}</td><td>${first_name}</td>         </tr>
	<tr><td>{% trans 'Last name' %}</td> <td>${last_name}</td>          </tr>
	<tr><td>{% trans 'email' %}</td>     <td>${email}</td>              </tr>
	<tr><td>{% trans 'City' %}</td>      <td>${city}</td>               </tr>
	<tr><td>{% trans 'Picture' %}</td>   <td><img src="${picture}"></td></tr>
</script>