{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% url 'auth_password_reset'   as auth_pwd_reset_url %}
{% url 'registration_register' as register_url       %}

{% if form.errors %}
<p>
{% blocktrans %}
Your username and password didn't match. Please try again.
{% endblocktrans %}
</p>
{% endif %}

<section id="login" class="content-section text-center">
	<div class="login-section">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<form method="post" action="{% url 'login' %}" role="form">
					{% csrf_token %}
					{% include "common/form_input_inc.html"    with field_name="username" field_label="User name" field_placeholder="Enter user name" %}
					{% include "common/form_password_inc.html" with field_name="password" field_label="Password"  field_placeholder="Enter password"  %}
					<p>
						<a href="{% url 'reset_password' %}">{% trans 'Forgot' %}</a> {% trans 'your password?' %}
						<a href="{% url 'registration'   %}">{% trans 'Need an account?' %}</a>
					</p>
					<input class="btn btn-default btn-lg" type="submit" value="{% trans "login" %}" />
					<input type="hidden" name="next" value="/" />
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}