{% extends "base.html" %}
{% load i18n %}

{% block content %}
<section id="register" class="text-center" style="margin-top: 100px;">
	<div class="register-section">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<form id="registration_form" method="post" action="{% url 'registration_api' %}" role="form" class="form-horizontal">
					{% csrf_token %}
					{% include "common/form_input_inc.html"    with field_name="first_name" field_label="First name" field_placeholder="Enter first name" %}
					{% include "common/form_input_inc.html"    with field_name="last_name"  field_label="Last name"  field_placeholder="Enter last name"  %}
					{% include "common/form_input_inc.html"    with field_name="user_name"  field_label="User name"  field_placeholder="Enter user name"  %}
					{% include "common/form_input_inc.html"    with field_name="email"      field_label="Email"      field_placeholder="Enter email"      %}
					{% include "common/form_password_inc.html" with field_name="password"   field_label="Password"   field_placeholder="Enter password"   %}
					{% include "common/form_input_inc.html"    with field_name="city"       field_label="City"       field_placeholder="Enter city"       %}
					{% include "common/form_file_inc.html"     with field_name="photo"      field_label="Photo"      field_placeholder="Enter photo"      %}
					<input class="btn btn-default btn-lg" type="submit" value="{% trans "register" %}" />
					<input type="hidden" id="city_id" name="city_id" value="" />
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block extra_js %}
	{% include 'common/cities_autocomplete_inc.html'                     %}
	{% include 'authentification/registeration/file_upload_inc.html'     %}
	{% include 'authentification/registeration/form_validation_inc.html' %}
	{% include 'authentification/registeration/form_ajax_submit_inc.html'%}
	<script>
		$(function () {
			autocomplete_city('city');
		});
	</script>
{% endblock %}