{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if form.errors %}
<p>
{% blocktrans %}
Your email adress is not present in our system. Please try again.
{% endblocktrans %}
</p>
{% endif %}

<section id="reset" class="content-section text-center">
	<div class="reset-section">
		<div class="container">
			<div class="col-lg-8 col-lg-offset-2">
				<form method="post" action="{% url 'reset_api' %}" role="form">
				{% csrf_token %}
					<div class="form-group">
						<label for="id_email">{% trans 'email adress' %}</label>
						<input id="id_email" class="form-control" maxlength="254" name="email" type="text" placeholder="{% trans 'Enter email adress' %}">
					</div>
					{% blocktrans %}
						<a href="{{ register_url }}">Need an account</a>?
					{% endblocktrans %}
					</p>
					<input class="btn btn-default btn-lg" type="submit" value="{% trans "reset" %}" />
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}