<script src="{{ STATIC_URL }}js/jquery/jquery.cookie.js"></script>
<script type="text/javascript">
	function autocomplete_city(element_name){
		$('#'+element_name).autocomplete({
			source: function(request, response) {
				var csrftoken = $.cookie('csrftoken');
				$.ajax({
					url     : "{% url 'cities_auto_api' %}",
					method  : "POST",
					dataType: "json",
					data    : {
						rows               : 20,
						pattern            : request.term,
						csrfmiddlewaretoken: csrftoken
					},
					success: function(data) {
						response($.map(data, function(item) {
							return {
								id   : item.id,
								label: item.label,
								value: item.name,
						}}));
				}});
			},
				minLength: 2,
			select: function(event, ui) {
				if(ui.item)
					$('#'+element_name+'_id')[0].value = ui.item.id;
			},
			open: function() {
				$(this).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				$(this).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
		});
	}
</script>