{% load i18n %}

<div id="{{field_name}}_container" class="input-append date form-group" data-date="{% now 'm/d/Y' %}" data-format="dd/MM/yyyy">
	<input class="form-control" type="text" id="{{field_name}}" name="{{field_name}}" placeholder="{% trans field_placeholder %}" value="{% now 'm/d/Y' %}"></input>
</div>