{% load i18n %}

<div class="form-group">
	<label class="sr-only" for="{{field_name}}">{% trans field_label %}</label>
	<input type="text" class="form-control" id="{{field_name}}" placeholder="{% trans field_placeholder %}" required>
	<input type="hidden" id="{{field_name}}_id" name="{{field_name}}_id" value="">
</div>