{% load i18n %}

<div class="form-group">
	<label for="{{field_name}}" class="col-sm-2 control-label">{% trans field_label %}</label>
	<div class="col-sm-10 controls">
		<input id="{{field_name}}" class="form-control" maxlength="20" name="{{field_name}}" type="password" placeholder="{% trans field_placeholder %}" required >
		<p class="help-block"></p>
	</div>
</div>