{% load i18n %}

<!DOCTYPE html>
<html ng-app="CarpoolingApp">

<head>
	<meta charset="utf-8">

	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="author"      content="chedi toueiti (chedi.toueiti@gmail.com)"/>
	<meta name="robots"      content="index, follow" />
	<meta name="description" content="Simple Car pool demo application"/>
	<meta name="keywords"    content="carpooling tunisia demo django angularjs demo epsilon.tn epsilon tunisie python restfull opensource" />

	<title>{% trans 'Carpooling' %}</title>

	<link href='//fonts.googleapis.com/css?family=Montserrat:400,700'               rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

	<link href="{{ STATIC_URL }}css/datepicker.css"                   rel="stylesheet" type="text/css"/>
	<link href="{{ STATIC_URL }}css/bootstrap.min.css"                rel="stylesheet" type="text/css"/>
	<link href="{{ STATIC_URL }}css/footable.metro.css"               rel="stylesheet" type="text/css"/>
	<link href="{{ STATIC_URL }}css/font-awesome.min.css"             rel="stylesheet" type="text/css"/>
	<link href="{{ STATIC_URL }}css/footable.core.css?v=2-0-1"        rel="stylesheet" type="text/css"/>
	<link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>

	<link href="{{ STATIC_URL }}css/grayscale.css"                    rel="stylesheet" type="text/css"/>

	<!-- for angular ui-bootstrap -->
	<style type="text/css">
		.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
	</style>
	{% block extra_style %}{% endblock %}

	<!-- Core JavaScript Files -->
	<script src="{{ STATIC_URL }}js/jquery/jquery.min.js"       ></script>
	<script src="{{ STATIC_URL }}js/jquery/jquery-ui.min.js"    ></script>
	<script src="{{ STATIC_URL }}js/jquery/jquery.easing.min.js"></script>

	<script src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"       ></script>
	<script src="{{ STATIC_URL }}js/bootstrap/bootstrap-datepicker.js"></script>

	<script src="{{ STATIC_URL }}js/footable/footable.js"         ></script>
	<script src="{{ STATIC_URL }}js/footable/footable.sort.js"    ></script>
	<script src="{{ STATIC_URL }}js/footable/footable.filter.js"  ></script>
	<script src="{{ STATIC_URL }}js/footable/footable.paginate.js"></script>

	<script src="{{ STATIC_URL }}js/angular/angular.min.js"              ></script>
	<script src="{{ STATIC_URL }}js/angular/ui-bootstrap.min.js"         ></script>
	<script src="{{ STATIC_URL }}js/angular/CarpoolingApp/application.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	{% block content  %}{% endblock %}
	{% block extra_js %}{% endblock %}
</body>

</html>
