{% load i18n %}
<section id="contact" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>{% trans 'Contact Us' %}</h2>
			<p>{% trans 'Feel free to email us to provide some feedback on our application, give us suggestions, or to just say hello!' %}</p>
			<p>chedi.toueiti@sgmail.com</p>
			<ul class="list-inline banner-social-buttons">
				<li>
					<a href="https://github.com/Chedi/CarSharing" class="btn btn-default btn-lg">
						<i class="fa fa-github fa-fw"></i>
						<span class="network-name">Github</span>
					</a>
				</li>
				<li>
					<a href="https://www.google.com/+cheditoueiti/posts" class="btn btn-default btn-lg">
						<i class="fa fa-google-plus fa-fw"></i>
						<span class="network-name">Google+</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>