{% load i18n %}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand"
			{% if user.is_authenticated %}
				href="{% url 'logout' %}"
			{% else %}
				href="{% url 'login'  %}"
			{% endif %}
			>
				<i class="fa fa-play-circle"></i>
				<span class="light">
				{% if user.is_authenticated %}
					{% trans 'Sign out' %}
				{% else %}
					{% trans 'Login/Sign up' %}
				{% endif %}
				</span>
			</a>
		</div>

		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<li class="hidden"     ><a href="#page-top">                                </a></li>
				<li class="page-scroll"><a href="#about"   >{% trans 'About'              %}</a></li>
				<li class="page-scroll"><a href="#starting">{% trans 'Share your journey' %}</a></li>
				<li class="page-scroll"><a href="#contact" >{% trans 'Contact'            %}</a></li>
			</ul>
		</div>
	</div>
</nav>