{% load i18n %}

<div ng-app="CarpoolingApp">
	<div ng-controller="ProfileInfoCtrl">
		<table id="{{ name }}_table" class="table">
			<tbody>
				<tr><td>{% trans 'Username'  %}</td><td>[[profile.username]]                              </td></tr>
				<tr><td>{% trans 'First name'%}</td><td>[[profile.first_name]]                            </td></tr>
				<tr><td>{% trans 'Last name' %}</td><td>[[profile.last_name]]                             </td></tr>
				<tr><td>{% trans 'email'     %}</td><td>[[profile.email]]                                 </td></tr>
				<tr><td>{% trans 'City'      %}</td><td>[[profile.city.name_std]], [[profile.city.parent]]</td></tr>
				<tr><td>{% trans 'ratting'   %}</td><td>
					<rating value="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
					<span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">
						[[ratting.percent]]%
					</span>
				</td></tr>
				<tr><td>{% trans 'Picture'   %}</td><td><img ng-src="[[profile.picture.url]]">            </td></tr>
			</tbody>
		</table>
	</div>
</div>
