{% load i18n %}

<div ng-app="CarpoolingApp">
	<div ng-controller="ProfileJourneysCtrl">
		<table id="{{ name }}_table" class="footable table" data-page-size="5">
			<thead>
				<tr>
					<th>{% trans 'departure city' %}</th>
					<th>{% trans 'arrival city'   %}</th>
					<th>{% trans 'departure date' %}</th>
					<th>{% trans 'arrival date'   %}</th>
					<th>{% trans 'price'          %}</th>
					<th>{% trans 'places'         %}</th>
					<th>{% trans 'driver'         %}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in journeys">
					<td data-title="'Departure city'">[[item.journey.departure_city.name]]</td>
					<td data-title="'Arrival city'"  >[[item.journey.arrival_city.name]]  </td>
					<td data-title="'Departure date'">[[item.journey.arrival_date]]       </td>
					<td data-title="'Arrival date'"  >[[item.journey.arrival_date]]       </td>
					<td data-title="'Price'"         >[[item.journey.price]]€             </td>
					<td data-title="'Places'"        >[[item.journey.places]]             </td>
					<td data-title="'driver'"        >[[item.journey.driver.username]]    </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>