{% load i18n %}

<div ng-app="CarpoolingApp">
	<div ng-controller="ProfileSharedCtrl">
		<table id="{{ name }}_table" class="footable table" data-page-size="5">
			<thead>
				<tr>
					<th>{% trans 'departure city' %}</th>
					<th>{% trans 'arrival city'   %}</th>
					<th>{% trans 'departure date' %}</th>
					<th>{% trans 'arrival date'   %}</th>
					<th>{% trans 'price'          %}</th>
					<th>{% trans 'places'         %}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in shared_journeys">
					<td data-title="'Departure city'">[[item.departure_city.name]]</td>
					<td data-title="'Arrival city'"  >[[item.arrival_city.name]]  </td>
					<td data-title="'Departure date'">[[item.arrival_date]]       </td>
					<td data-title="'Arrival date'"  >[[item.arrival_date]]       </td>
					<td data-title="'Price'"         >[[item.price]]€             </td>
					<td data-title="'Places'"        >[[item.places]]             </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>